<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>stx-ee-demo</display-name>
	<welcome-file-list>
		<welcome-file>jsp/index_guide.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>添加查询博文的Servlet类</description>
		<display-name>BloggerQueryServlet</display-name>
		<servlet-name>BloggerQueryServlet</servlet-name>
		<servlet-class>com.stx.demo.severlet.BloggerQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BloggerQueryServlet</servlet-name>
		<url-pattern>/bloggerQuery</url-pattern>
	</servlet-mapping>

	<!-- h2 内存数据库控制台-->
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<!-- h2 内存数据库 -->
	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>
	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:~/stx-ee-demo</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param>
</web-app>